body{
    font-family: 'Rajdhani', sans-serif;
}

.page{
    text-align: center;
} 
.page li{
    font-family: 'Rajdhani', sans-serif;
    display: inline-block;
    padding: 5px;
}
.active{
    border-bottom: solid;
}
a, .upd{
    text-decoration: none;
    color: blue;
}
.add{
    color: green;
}
.sup{
    color: red;
}

img{
    width: 80px;
}

#profil{
    padding-top: 10vh;
}