body{
    margin: 0;
    text-align: center;
    background: no-repeat url(/img/Fond.svg);
    background-size: cover;
    background-position: 0px -200px;
    font-family: 'Rajdhani', sans-serif;
    color: yellow;
}

div:first-of-type{
    position: relative;
    width: 35%;
    margin: auto;
}

img{
    width: 40%;
    border-radius: 100%;
}

h1{
    margin: 3% 0 0 0;
    font-size: 820%;
    font-weight: lighter;
}

h3{
    font-size: 150%;
    font-weight: bolder;
}
h3.right{
    right: 3%;
    position: absolute;
}
.left{
    left: 3%;
    position: absolute;
}
.down{
    top: 150px;
}

div:last-of-type{
    height: 50px;
}
input{
    font-family: 'Rajdhani', sans-serif;
    font-size: 140%;
    width: 15%;
    height: 50px;
    margin: 60px;
    background-color: #19057A;
    color: yellow;
    border: none;
    outline: none;
    border-radius: 100px;
    cursor: pointer
}




div:first-of-type{
    margin-top: 20px;
}